# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_4jEXpR6wSmyL@ep-steep-art-azco3ot1-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_4jEXpR6wSmyL@ep-steep-art-azco3ot1.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Auth.js / NextAuth.js
AUTH_SECRET="v7QmK9xR2pL5nT8wZ3cF6hJ1sD4yU0aB"
AUTH_URL="http://localhost:3000"

# Optional OAuth (Google / GitHub)
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
